@import "modern-normalize";

/* normalise browser default styling and set up custom properties */
:root {
    line-height: 1.5;

    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 2rem;

    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --icon-small: 30px;
    --icon-medium: 32px;
    --icon-large: 48px;

    --main-color: #4386f1;
    --second-color: #ece761;
    --neutral-color: #dadada;

    --section-padding: 1rem 1.5rem;
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5, p, a {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

/* set up custom classes */
.h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
}

/* main page layout */
.page-layout {
    display: grid;
    grid-template-columns: 320px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    min-height: 100vh;
}

.sidebar-section {
    grid-area: sidebar;
    background-color: var(--main-color);
    padding: var(--section-padding);
    color: white;
}

.header-section {
    grid-area: header;
    background-color: white;
    padding: var(--section-padding);
}

.main-section {
    grid-area: main;
    background-color: var(--neutral-color);
}

/* styling for sidebar components */
.sidebar-header {
    display: flex;
    gap: 8px;
}

.sidebar-section > .sidebar-header > .h1 {
    color: inherit;
}

.sidebar-icon {
    width: var(--icon-large);
    filter: brightness(0) invert(1);
}

.nav-item {
    display: flex;
    gap: 1.75rem;
    margin: 1.75rem 0.5rem;
    text-decoration: none;
    color: inherit;
}

.nav-item-group-start {
    margin-top: 4rem;
}

.nav-icon {
    width: var(--icon-medium);
    height: var(--icon-medium);
    filter: brightness(0) invert(1);
}

.nav-text {
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
}

/* styling for header components */


/* styling for main section components */